#may need: python -m pip install --upgrade setuptools==65.5.0
dill
# due to gym 0.21.0
wheel<0.40.0
./submodules/mcl_toolbox/
./submodules/mouselab/
./submodules/costometer/
./submodules/download_tools/
ipykernel
papermill
numpy<1.23 # For Gpyopt
pandas<2.0 # Major breaking pandas release
pyarrow
matplotlib
seaborn
pingouin
pyyaml
colorcet
pre-commit
rsa
scipy
statsmodels
scikit-learn
