dill
wheel
mcl_toolbox @ git+https://github.com/RationalityEnhancementGroup/mcl_toolbox.git@dev#egg=mcl_toolbox  # noqa
mouselab @ git+https://github.com/RationalityEnhancementGroup/mouselab-mdp-tools.git@dev#egg=mouselab  # noqa
costometer @ git+https://github.com/RationalityEnhancementGroup/costometer.git@dev#egg=costometer # noqa
ipykernel
papermill
numpy
pandas
pyarrow
matplotlib
seaborn
pingouin
colorcet
pre-commit