dill
wheel
mouselab @ git+https://github.com/RationalityEnhancementGroup/mouselab-mdp-tools.git@v0.0.1#egg=mouselab  # noqa
costometer @ git+https://github.com/RationalityEnhancementGroup/costometer.git@v0.0.1#egg=costometer # noqa
download_tools @ git+https://github.com/RationalityEnhancementGroup/download-tools.git@v0.0.1#egg=download_tools # noqa
ipykernel
papermill
numpy
pandas
pyarrow
matplotlib
seaborn
pingouin
colorcet
pre-commit